<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Тестируем vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/filesaver.js"></script>
</head>
<body>
<!--<p><textarea rows="10" cols="45" name="text"></textarea></p>-->
<!--<div id="app">{{ message }}</div>-->
<div id="app">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Enter Blob ID ...</label>
            <input v-model="blobid" type="email" class="form-control col-sm-2" id="exampleFormControlInput1" ></input>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Blob body</label>
            <textarea v-model="textarea" class="form-control col-sm-5" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>

    <div class= "form-group">

      <button @click="getBlob" class="btn btn-primary btn-outline-dark" type="submit">Get Blob</button>
      <button @click="TestButton" class="btn btn-primary btn-outline-dark" type="submit">TestButton</button>
      <button @click="saveBlob" class="btn btn-primary btn-outline-dark" type="submit">Save File</button>

      <div class="col-md-2">
        <strong>UserId</strong>
        <select v-model="user" class="form-control">
          <option disabled value="">UserId</option>
          <option v-bind:value="userId.user1">1</option>
          <option v-bind:value="userId.user2">2</option>
          <option v-bind:value="userId.user3">3</option>
        </select>
      </div>
    </div>
    <!--<input v-model="blobid"></input>-->
    <!--<textarea v-model="textarea" rows="10" cols="45"></textarea>-->
    <!--<button v-on:click="getBlob">Get Blob</button>-->

</div>
<script src="js/main.js"></script>
</body>
</html>
